*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    scroll-behavior: smooth;
}

* a{
    color: white;
    text-decoration: none;
}
body{
    background-color: black;
}

.backgroundCont{
    background-image: url(/img/bgimg);
    filter: blur(16px);
    height: 100vh;
    position: relative;
}

.pinkOverlay{
    background-color: rgb(104, 3, 20, 0.404);
    height: 100%;
    width: 100%;
}

.contentCont{
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0rem 2rem;
}

nav{
    height: 20vh;
    position: fixed;
    z-index: 1000;
}

.upperNav{
    display: flex;
    height: 50%;
}

.upperLeft{
    width: 50%;
}

.logo{
    width: 29%;
}

.upperRight{
    width: 50%;
}

.navButtonContainer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.langBtn{
    padding: 0.2rem 0.8rem;
    display: flex;
    border-radius: 7px;
    background: transparent;
    color: white;
    outline: none;
    border: 1px solid white;
    font-size: 1rem;
}

.langBtn p{
    margin-left: 5px;
}

.signinBtn{
    background-color: red;
    color: white;
    padding: 0.2rem 0.8rem;
    border-radius: 5px;
    outline: none;
    border: none;
    margin-left: 10px;
    font-size: 1rem;
}

.lowerNav{
    height: 50%;
    color: white;
    display: flex;
    justify-content: center;
}

.menuList{
    width: 40%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    border-radius: 50px;
    background: #000000be;
    box-shadow: 2px 3px 14px rgba(0,0,0,0.5);
    background:rgba(0,0,0,0.7);
    backdrop-filter: blur(7px);
    height: 7vh;
}

.menuList li{
    height: 100%;
    display: flex;
    align-items: center;
}

.banner{
    height: 90vh;
    background-image: url(/img/bgimg);
    background-size: 100% 100%; 
    border-radius: 20px;
    position: relative;
}

.overlay{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7), black);
    border-radius: 20px;
    
}

.bannerCont{
    height: 80%;
    width: 100%;
    position: absolute;
    bottom: 0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bannerCont h2{
    font-size: 4rem;
}

.bannerCont h4{
    font-size: 1.3rem;
    margin: 20px;
}

.bannerCont p{
    font-size: 1rem;
    margin: 20px;
}

.inputCont{
    width: 50%;
    display: flex;
    justify-content: space-between ;
}

.emailInputBox{
    padding: 1rem 2rem;
    border-radius: 7px;
    border: 1px solid white;
    outline: none;
    width: 60%;
    background-color: rgba(255,255,255,0.3);
    color: white;
    font-size: 1rem ;
}

.emailInputBox::placeholder{
    color: white;
}

.getStBtn{
    width: 30%;
    background-color: red;
    border: none;
    outline: none;
    border-radius: 7px;
    color: white;
    font-size: 1.2rem;
    font-weight: 900;
}

.faqSection,
.reasonToJoin,
.carousel,
.getStartedSection{
    color: white;
}

.reasonToJoin h2 ,
.carousel h2
.faqSection h2{
    margin-left: 0.5rem;
    font-size: 2.5rem;
}

.carouselCardCont,
.reasonsConatiner{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 2rem auto;
}

.faqCardsContainer{
    height: 100%;
    width: 100%;
    
    justify-content: space-evenly;
    margin: 2rem auto;
}

.carouselCard{
    width: 12%;
    border-radius: 10px;
    height: 38vh;
    position: relative;
}

.carousalImgCont{
    width: 100%;
    height: 100%;
}



.carousalNoCont span{ 
    color: rgba(0,0,0,0.8);
    -webkit-text-stroke: 0.125rem rgb(255,255,255);
    text-shadow: 0 0 1.5rem rgba(0,0,0,0.5);
    font-size: 4rem;
}

.carousalNoCont{
    position: absolute;
    left: -px;
}

.reasonCard{
    height: 45vh;
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 1rem 1rem ;
    border-radius: 20px;
    border: 2px solid rgba(255,255,255,0.372);
    background: linear-gradient(149deg, #401c72 6.96%, #172B47 40.17%, #120c1f 73.39%);
    border: none;
}

.reasonCard h2{
    font-size: 1.6rem;
    margin-left: 0;
    margin-bottom: 1.5px;
}

.reasonCard p{
    font-size: 0.9rem;
}

.reasonCardLowerContent svg{
    height: 50px;
    width: 50px;
}

.reasonCardLowerContent{
    display: flex;
    justify-content: end;
}

.faqCard{
    width: 100%;
}

.faqQuestion,
.faqAnswer{
    padding: 2rem;
    border-radius: 10px;
    border: 1px solid white;
    margin-bottom: 20px;
    background-color: #2e2e2e;
}

.faqQuestion{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faqQuestion span{
    font-size: 2rem;
    font-weight: 900;
}

.faqCard:hover .faqAnswer{
    display: block;
}

.faqAnswer{
   display: none;
   cursor: pointer;
}

.faqCard:hover{
    cursor: pointer;
}

.getStartedSection{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.getStartedSection p{
    margin-bottom: 1rem;
}

.sectionsContainer{
    margin-top: 20vh;
}